<section class="header">
    <article class="day">
        <p>{{dayWeek}}, {{day}} {{month}}, {{year}}</p>
    </article>
    <article class="title">
        <h1>Daily Sandra Gazette</h1>
    </article>
    <article class="buscador">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text">
            <button>Go</button>
        </div>
    </article>
</section>
<section class="sections">
    @for (section of sections; track $index) {
        <a [routerLink]="['/section', section.name]">{{section.name}}</a>
    }
</section>