<section class="news-section">
    @for (section of sections; track $index) {
        <section class="section">
            <h4>{{section.name}}</h4>
        @for (item of news; track $index) {
            @if (item.section === section) {
                <article class="news-item">
                    <img src={{item.image}} alt="Image 1">
                    <div class="news-description">
                        <h3>{{item.title}}</h3>
                        <p>{{item.subtitle}}</p>
                    </div>
                </article>
            }
        }
    </section>
    }
    <section class="section">
        <h4>Section title</h4>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        
    </section>
    <section class="section">
        <h4>Section title</h4>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        

    </section>
    <section class="section">
        <h4>Section title</h4>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
    </section>
    <section class="section">
        <h4>Section title</h4>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
    </section>
    <section class="section">
        <h4>Section title</h4>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>

    </section>
    <section class="section">
        <h4>Section title</h4>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
    </section>
    <section class="section">
        <h4>Section title</h4>

        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
        <article class="news-item">
            <img src="https://via.placeholder.com/300" alt="Image 1">
            <div class="news-description">
                <h3>Article Title 1</h3>
                <p>Short description of the article goes here...</p>
            </div>
        </article>
    </section>
    
</section>