<app-nav-bar (enviar)="recibir($event)"></app-nav-bar>

<section class="news-section">
    @if (userRole) {
    <button [routerLink]="['/admin', userRole]"><i class="fa-solid fa-pen-to-square"></i>   Edit content</button>
    }
    @for (eachSection of sections; track $index) {
        <section class="section">
            <h4>{{eachSection.name}}</h4>
        @for (item of publishedNews; track $index) {
            @if (item.section === eachSection.name) {
                <a [routerLink]="['/home']"><app-article [item]="item"></app-article></a>
            }
        }
    </section>
    }
</section>
