<app-nav-bar (enviar)="recibir($event)"></app-nav-bar>

<section class="news-section">
    @if (userRole === 'editor') {
    <button [routerLink]="['/editor']">Edit content</button>
    }
    @if (userRole === 'writer') {
    <button [routerLink]="['/writer']">Edit content</button>
    }
    @for (eachSection of sections; track $index) {
        <section class="section">
            <h4>{{eachSection.name}}</h4>
        @for (item of publishedNews; track $index) {
            @if (item.section === eachSection.name) {
                <a [routerLink]="['/home']"><app-article [item]="item"></app-article></a>
            }
        }
    </section>
    }
</section>
